<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SysBasicMapper">
  <resultMap id="BaseResultMap" type="com.jcbjcb.generator.entity.SysBasic">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="stauts" jdbcType="INTEGER" property="stauts" />
  </resultMap>
</mapper>